@media only screen
and (min-width: 769px)
{
    #body{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    #main{
        display: flex;
        background-color: transparent;
        justify-content: center;
    }
    #div-left{
        width: 45%;
        height: 100vh;
        text-align: center;
    }
    #div-left-top{
        float: right;
        width: 100%;
        font-size: 3.5vw;
        font-family: 'Quicksand', serif;
        height: 20vh;
    }
    #spofly{
        font-weight: bold;
        height: 3.5vw;
    }
    #div-left-mid{
        float: left;
        width: 100%;
        height: 50vh;
        position: relative;
        font-family: 'Open Sans', sans-serif;
    }
    #login-frame{
        height: 100%;
    }
    .flat-button{
        background-color: transparent;
        border: 2px solid;
        font-size: 2.4vw;
        border-radius: 8px;
        cursor: pointer;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .flat-button:hover{
        transform: scale(1.1);
    }
    #login-button{
        margin-top: 20vh;
        outline: none;
        width: 50%;
        transition: transform 0.3s ease-in-out;
    }
    #logo-container{
        vertical-align: middle;
        width: 20%;
    }
    #spotify-icon{
        height: 2.3vw;
        width: 2.3vw;
        vertical-align: center;
    }
    #download-button{
        margin-top: 10px;
        outline: none;
        width: 50%;
        transition: transform 0.3s ease-in-out;
    }
    #apple-emoji{
        font-size: 2.6vw;
    }
    #div-left-bottom{
        position: relative;
        float: left;
        height: 30vh;
        text-align: center;
        width: 100%;
        margin-top: 22vh;
    }
    #trademark{
        text-decoration: none;
        font-size: 1.5vw;
        font-family: 'Quicksand', serif;
        text-align: center;
    }
    #div-right{
        float: left;
        width: 55%;
        height: 100vh;
    }
    #artwork-1 {
        position: absolute;
        top: 0;
        height: 900px;
        width: 900px;
    }
}

