@media only screen and
(min-width: 600px) and
(max-width: 899px){
     #body{
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        overflow-x: auto;
        margin-left: auto;
        margin-top: auto;
        display: flex;
    }
    .main{
        width: 100vw;
        height: 90vh;
        font-family: 'Quicksand', serif;
    }
    .main__left{
        width: 100vw;
        height: 100vw;
    }
    .main__artwork{
        width: 100vw;
        height: 100vw;
    }
    #artwork{
        width: 100%;
        height: 100%;
    }
    #track-embed{
        opacity: 0;
    }
    .main__right{
        text-align: center;
    }
    .main__right__text{
        font-size: 28px;
    }
    .flat-button{
        font-size: 16px;
        border-radius: 8px;
        border-color: transparent;
        cursor: pointer;
        padding-bottom: 20px;
        padding-top: 20px;
        transition: transform 0.3s ease-in-out;
        backface-visibility: hidden;
        width: auto;
    }
    .flat-button:hover{
        transform: scale(1.01);
    }
     .logo-container{
        vertical-align: middle;
    }
    #spotify-icon{
        width: 16px;
        height: 16px;
        vertical-align: center;
    }
    #apple-logo{
        width: 16px;
        height: 16px;
        vertical-align: center;
    }
    .main__trademark{
        position: fixed;
        font-family: 'Quicksand', serif;
        font-weight: lighter;
        font-size: 16px;
        text-decoration: none;
        margin-top: 94vh;
        width: 100%;
        text-align: center
    }
}