<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href={{image}}>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                    <meta content={{refresh_ms}} http-equiv="refresh">
                        <meta charset="UTF-8">
                            <title>{{artist_name}}-{{song_title}}</title>
    </head>
    <script>
        
        </script>
    <body >
        
        <div id="image">
            <a href="https://spoflyv1.herokuapp.com/logout">  <img id="img" src="{{image}}"> </a>
            
        </div>
        <div id = "song_title"> <a>{{artist_name}}-{{song_title}}</a> </div>
        <div id='lyric_section'>
            <pre id="lyrics"><span>{{ data }}</span></pre>
        </div>
    </body>
</html>
<style>
    @media screen and (min-width: 480px) {
        body{
            background-color: #2f3032;;
            margin-top: -0.001vh;
        }

        #image{
            position: fixed;
            alignment: center;
            display: block;
            width: 100vw;
            height: 50vh;
            z-index: 8;
            margin-bottom: -5vh;
            background-color: #2f3032;;
        }

        #img{
            display: block;
            margin-left:auto;
            margin-right:auto;
            max-width: 50vh;
            width: 100%;
            height: 100%;
        }

        #song_title{
            font-family: Gill Sans;
            font-weight: bold;
            display: block;
            text-align: center;
            background-color: #2f3032;;
            color: #ede68a;
            position: fixed;
            alignment: center;
            width: 100vw;
            font-size: 2.5vh;
            margin-top: 50vh;
            z-index: 8;
            
        }
        #lyrics{
            font-family: "Gill Sans";
            text-align: center;
            display: block;
            position: absolute;
            width: 100vw;
            margin-top: 53.6vh;
            font-size: 2.5vh;
            background-color: #2f3032;;
            color: #ede68a !important;
        }
    }
     @media screen and (max-width: 4800px) {
        body{
            background-color: #2f3032;;
            margin-top: -0.001vh;
        }

        #image{
            position: fixed;
            alignment: center;
            display: block;
            width: 100vw;
            height: 50vh;
            z-index: 8;
            margin-bottom: -5vh;
            background-color: #2f3032;;
        }

        #img{
            display: block;
            margin-left:auto;
            margin-right:auto;
            width: 100%;
            height: 100%;
        }

        #song_title{
            font-family: Gill Sans;
            font-weight: bold;
            display: block;
            text-align: center;
            background-color: #2f3032;;
            color: #ede68a;
            position: fixed;
            alignment: center;
            width: 100vw;
            font-size: 2.5vh;
            margin-top: 50vh;
            z-index: 8;

        }
        #lyrics{
            font-family: "Gill Sans";
            text-align: center;
            display: block;
            position: absolute;
            width: 100vw;
            margin-top: 53.6vh;
            font-size: 2.5vh;
            background-color: #2f3032;;
            color: #ede68a !important;
        }
    }
pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
