<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/login_desktop.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/images/spofly_icon_high.png">
    <script defer src="../static/js/login.js"></script>
    <title>Login</title>
</head>
<body id="body">
<div id="main">
    <div id="div-left">
        <div id="div-left-top">
            <p id="greeting">Hi, this is <strong>spofly</strong></p>
        </div>
        <div id="div-left-mid">
            <div id="login-frame">
                <button class="flat-button" id="login-button" onclick=window.location.href='/login'><a id="login-text">Login with </a><a id="logo-container"><img id="spotify-icon" src=""></a></button>
                <button class="flat-button" id="download-button" onclick=window.location.href="https://github.com/itsjustaplant/spofly/releases"><a>Download </a><a id="apple-emoji"></a></button>
            </div>
        </div>
        <div id="div-left-bottom">
            <a id="trademark" href="https://www.itsjustaplant.github.io">Made by plant🌱</a>
        </div>
    </div>
    <div id="div-right">
        <a><img id="artwork-1" src=""></a>
        <iframe id="track-embed" src="https://open.spotify.com/embed/track/4sI9hj8M0jzbKD9vckx28J" width="300" height="80" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
</div>
</body>
</html>

