<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/login_desktop.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/images/spofly_icon_high.png">
    <script defer src="../static/js/login.js"></script>
    <title>Login</title>
</head>
<body id="body">
<div class="main" id="main">
    <div class="main__left">
        <a><img class="main__artwork" id="artwork" src="" alt="artwork"></a>
        <iframe class="main__embed" id="track-embed" src="" width="300" height="80" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    <div class="main__right">
        <p class="main__right__text" id="spofly">Hi, this is <strong>spofly</strong></p>
        <div class="main__right__container">
            <button class="flat-button" id="login-button"  onclick=window.location.href='/login'><a>Login with </a><a class="logo-container"><img id="spotify-icon" src="" alt="spotify"></a></button>
            <button class="flat-button" id="download-button" onclick=window.location.href="https://github.com/itsjustaplant/spofly/releases"><a>Download </a><a class="logo-container"><img id="apple-logo" src="" alt="osx"></a></button>
        </div>
    </div>
</div>
<a class="main__trademark" id="trademark" href="https://www.itsjustaplant.github.io">Made by plant🌱</a>
</body>
</html>

