<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href={{artwork_url}}>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href="../static/css/lyrics.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content={{refresh_ms}} http-equiv="refresh">
    <meta charset="UTF-8">
    <title>{{artist_name}}-{{song_name}}</title>
</head>
<body id="body" style="background-color: {{ bg }}">
<div class="main">
    <div class="main__left">
        <a> <img class="main__artwork" id="artwork" src="{{artwork_url}}" alt="artwork"> </a>
    </div>
    <div id='main__right'>
        <h1 class="main__header" id="lyrics_header" style="color: {{ fg }}; background-color: {{ bg }}">{{artist_name}}-{{song_name}}</h1>
        <label for="lyrics"></label><label for="lyrics_area"></label><textarea readonly class="main__lyrics--desktop" id="lyrics_area" style="background-color:  {{ bg }}; color: {{ fg }}">{{data}}</textarea>
        <pre class="main__lyrics--mobile" id="lyrics_span"><span style="color: {{ fg }}">{{ data }}</span></pre>
    </div>
</div>
<a class="main__trademark" id="trademark" href="https://itsjustaplant.github.io" style="color: {{ fg }}">Made by plant🌱</a>
</body>
</html>
